.services__button {
    background-color: rgb(60, 61, 63, 1.0);
    border: none;
    background: transparent;
    }
/* .services__button:nth-of-type(2) {
    background-color: #0D5C63;
} */

/* .services__button:first {
    background-color: rgb(60, 61, 63, 1.0);
} */