.header__address {
    align-self: center;
    margin: 0;
    font-size: 24px;
    font-weight: 600;
    color: #FF6C00	;
    transition: color linear 0.5s;
    position: relative;
}

.header__address:hover {
    cursor: pointer;
    color: white;
}
.header__address:hover::after{
    content: attr(data-title);
    position: absolute;
    z-index: 1;
    left: 80%; top: 30%; /* Положение подсказки */
    z-index: 1; /* Отображаем подсказку поверх других элементов */
    background: rgba(255,255,230,0.8); /* Полупрозрачный цвет фона */
    font-family: Arial, sans-serif; /* Гарнитура шрифта */
    font-size: 11px; /* Размер текста подсказки */
    padding: 5px 10px; /* Поля */
    border: 1px solid #333;
    color: #333;
}
