.services__items {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1050px;
}

@media all and (max-width: 950px) {
  .services__items {
    justify-content: center;
  }
}
