.services__items {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  margin: 0 -15px;
  flex-wrap: wrap;
  /* flex-direction: row; */
  max-width: 1050px;
  margin: 0px -10px -10px;
}

@media all and (max-width: 950px) {
  .services__items {
    justify-content: center;
  }
}

/* @media (min-width: 670px) {
  .services__items {
    padding: 0 15px;
  }
} */