.header__logo {
    max-width: 270px;
}
@media screen and (max-width: 1024px) {
    .header__logo {   
      max-width: 240px;    
    }
}
@media screen and (max-width: 880px) {
    .header__logo {   
      max-width: 180px;    
    }
}