.services__item {
  box-shadow: 0px 13px 19px rgb(0 0 0 / 30%);
  background: rgb(60, 61, 63, 1);
  padding: 15px 15px;
  flex: 0 1 25%;
  /* min-height: 185px; */
  margin: 0px 10px 10px;
}

.services__item:last-child {
  background-color: #0d5c63;
  color: black;
}

@media (max-width: 450px) {
  .services__item {
    min-width: 190px;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
}
