.footer__copyright {
  color: #0D5C63;
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  max-width: 280px;
  /*min-height: 16px;*/
  margin: 0;
}
@media all and (max-width: 767px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 14px;
    padding: 0 0 24px 16px;
  }
}
