.header__phone {
    max-width: 270px;
    color: whitesmoke; 
    font-size: 24px; 
    text-decoration: none; 
    font-weight: 600;
}
@media screen and (max-width: 950px) {
    .header__phone {   
      font-size: 22px;
      font-weight: 600;    
    }
}
@media screen and (max-width: 768px) {
  .header__phone {   
    font-size: 20px;
    font-weight: 600;    
  }
}