.header__top {
    background-color: rgb(238, 149, 32);
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

@media all and (max-width: 500px) {
    .header__top {
        flex-direction: column;
        align-items: center;
    }    
}    