.cover__heading {
  font-family: 'Montserrat', sans-serif;
  max-width: 1050px;
  color: white;
  margin: 0px;
  text-align: center;
  font-size: 42px;
  font-weight: 700;
  padding-top: 24px;
  padding: 60px 0px 20px 0px;
  margin: auto;
}
.cover__heading:hover {
  color: #ff7b47;
  cursor: default;
}
@media all and (max-width: 950px) {
  .cover__heading {
    font-size: 30px;
  }
}