.cover__heading {
  max-width: 700px;
  color: white;
  margin: 0px;
  text-align: center;
  font-size: 36px;
  font-weight: 800;
  padding-top: 24px;
  padding: 60px 0px 30px 0px;
  margin: auto;
}
.cover__heading:hover {
  color: #ff6c00;
  cursor: default;
}
