.cover__address {
  font-size: 22px;
  font-weight: 400;
  line-height: 32px;
  color: #ff7b47;
  /* background-color: rgb(60, 61, 63, 0.1); */
  max-width: 525px;
  text-align: left;
  margin: 0px;
  padding: 0px 0px 10px 20px;
}
@media (max-width: 450px) {
  .cover__address {
    font-size: 18px;
    text-align: center;
  }
}